*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;


}




body{
    font-family: sans-serif;
    
 
}





img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
}

button{
    text-decoration: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
   
    background-color: #f5f5f5;
    border: none;
}
input:focus{
    outline: none;
}

.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}


.header{
    
    color: #f5f5f5;
   
}

#close-burger{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 10%;
    right: 10%;

    
    
}

#close-burger span{
    cursor: pointer;
    height: .2rem;
    width: 2.5rem;
    background-color: #101010;
}

#close-burger span:nth-child(1){
transform: rotate(45deg)
}
#close-burger span:nth-child(2){
    transform: rotate(-45deg)
}


#burger{
    z-index: 1;
    display: none;
    flex-direction: column;
    gap: .8rem;
    cursor: pointer;
}



#burger span{

    height: .2rem;
    width: 3.5rem;
    background-color: #f5f5f5;
    
}

#nav-responsive{
   
    position: absolute;
 top: 0;
 left: 0;
  background-color:#F5F5F5;
    height: 100vh;
    width: 100vw;

   display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
#nav-responsive a{
    color: #000;
}







.nav{
    background-color: #101010;
    padding: 1.5rem 0;
    position: fixed;    
    width: 100%;
    z-index: 9999;
   
}


.nav .container{
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.nav ul{
    display: flex;
    gap:2rem;
}

.nav a{
    color: #f5f5f5;
}

.nav ul li:hover{

    transform: scale(1.1);
    transition: .5s;
}


.header-content{
    padding-top: 8rem;
    background-image: url(../img/backgroundimage.png);
    padding-bottom: 3rem;
    background-attachment: fixed;
}

.nav .container>a{
    border: 2px solid #f5f5f5;
    padding: .5rem;
    border-radius: 15px;
}


.header-content .container{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

h1{
    font-size: 65px;
}

.header-left{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    animation: aniLeft 2s forwards ease-in-out;
}

.header-left h4{
    max-width: 55ch;
}

.header-left div:nth-child(3){
    display: flex;
    align-items: center;
    gap:2rem;
}

.header-left a{
    color: #f5f5f5;
    transition: 1s;
}


.header-left a:nth-child(1){
    padding: .8rem 3rem;
    border-radius: 60px;
    background-color:blue;
}

.header-left a:nth-child(1):hover{
    transition: 1s; 
    transform:scale(1.1);
    color: blue;
    background-color: #f5f5f5;
}




.partners{
  
    gap:2rem;
    align-items: center;
}

.partners-normal{
    display: flex;
}

.partners-responsive{
    display: none;
}


.partners img{
    width: 8rem;
    display: flex;
    align-items: center;
    
}

.partners span{
    border-radius: 5px;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
    filter: opacity(60%);
    transition: 1s;
}

.partners span:hover{
    transform: translateY(-5px);
    filter: opacity(100%);
    transition: 1s;
}


.header-right{
    animation: aniRight 2s forwards ease-in-out;
    display: flex;
    flex-direction: column;
    gap:2rem;
    background-color: #f5f5f5;
    padding: 1.5rem;
    color: #101010;
    border-radius: 5px;
    
}


.header-right form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #f5f5f5;
    
}

#form>div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 .5rem;
}


#form span{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: .5rem;
    border: 1px solid gray;
}

#form select{
    padding: .5rem;
    border: 1px solid gray;
    border-radius: 5px;
}

#form a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: blue;
    border: 2px solid blue;
    color:#f5f5f5;
    border-radius: 5px;
    font-weight: bold;
    transition: .5s;
}

#form a:hover{
    background-color:#f5f5f5;
    color: blue;
    transition: .5s;
}


.process-section{
    padding: 6rem 0;
}

.process-section .container{
    display: flex;
    flex-direction: column;
    gap:6rem;
}
.process-section h2{
    font-size: 35px;
}

.three-steps{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
}


.process-details{
    display: flex;
    gap:1rem;
    justify-content: space-between;
    align-items: center;
}

.process-details>div{
    display: flex;
    flex-direction: column;
    gap:1rem;
    max-width: 30%;
    height: 15rem;
    max-height: 100%;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(73, 73, 73, 0.5);
}





.why-us{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap:4rem;
   
  
}



.why-us-right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: bold;
    
}
.why-us-right>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.credit-nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

.credit-nav button{
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid white;
    transition: 1s;
}

.credit-nav button:hover{
    transition: 1s;
    transform: translateY(-10px);
}

.credit-nav button:focus{
  
    border-bottom: 2px solid blue;
}



.credit-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 6rem;
}


.credit-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3.5rem;
}

.credit-content h2{
    font-size: 48px;
}

.credit-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: bold;
    
}


.credit-left a{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: blue;
    border: blue 2px solid;
    color: #f5f5f5;
    transition: 1s;
    max-width: 13rem;
}


.credit-left a:hover{
    color: blue;
    background-color: #f5f5f5;
    transition: 1s;
}


.faq{
    padding: 6rem 0;
    background-color: #101010;
    color: #f5f5f5;
}


.faq-description{
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.faq h2{
    font-size: 40px;
}

.faq-content{
    border-top: #7A67C7 1px solid;
    display: flex;
    gap: 3rem;

}

.faq-content>div{
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding: 2rem;
    
}

.faq-content>div:nth-child(2){
    border-left: #0F6A64 1px solid;
    border-right: #0F6A64 1px solid;
}


.service-section{
    padding: 5rem 0;
    background-color: #f5f5f5;
}

.service-description{
   display: flex;
   gap: 1rem;
   flex-direction: column;
   align-items: center;
   padding-bottom: 5rem;

}
.service-section h2{
    font-size: 40px;
}

.service-items>div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.service-items p{
   
    font-weight: bold;
    padding: 1rem;
}


.service-grid p:nth-child(odd){
    color: #f5f5f5;
    background-color: #101010;
}
.service-grid p{
    line-height: 1.5rem;
}

.service-grid p:nth-child(even){
    color:#101010 ;
    background-color: #f5f5f5;
}



.service-grid div:nth-child(2) p{
    border-left: 1px solid #0F6A64;
    border-right:1px solid #0F6A64;
}

.service-items>div:nth-child(1) p:nth-child(1){
   grid-column-start: 2;
}

.service-items a{
    grid-column-start: 2;
    background-color: #0F6A64;
    color: #f5f5f5;
    font-weight: bold;
    padding: 1rem;
}

.service-items>div:last-child{
    padding-top: 3rem;
}


.review-section{
    padding: 5rem 0;

}

.review-section .container>div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.review-slider{
    padding-top: 3rem;
    position: relative;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    
    
    
}

.slider-arrows{
    
    display: flex;
    justify-content: space-between;
    gap:2rem;
    

}
.slider-arrows button{
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    padding: .5rem 1rem;
}


.slider img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.slider{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    min-width: 32%;
    max-width: 32%;
    height: 20rem;
    padding: 2rem;
    background-color: #f5f5f5;
    transition: 1s;
    cursor: grab;
}

.slider:hover{
    transition: 1s;
    box-shadow:0 16px 60px 0 rgba(63,93,101,.2);
}

.slider span{
    display: flex;
    gap: 1rem;
    align-items: center;
}




.review-slider::-webkit-scrollbar{
    display: none;
}


.client-section{
    padding: 3rem 0;
    background-color: #f5f5f5;
}

.client-section img{
    border-radius: 5px;
}

.client-content{
    display: flex;
    font-weight: bold;
    gap: 3rem;
    justify-content: space-between;
}


.footer{
    padding: 4rem 0 3rem 0;
    background-image: url(../img/backgroundimage.png);
    color: #f5f5f5;
    background-attachment: fixed;
}


.footer-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.footer-offer h2{
    font-size: 40px;
}

.footer input{
    border-radius: 5px;
   padding: 0.5rem .3rem;
    
}






.footer-offer>a{
    padding: .5rem 1rem;  
    background-color:blue;
    color: #f5f5f5;
    border: 2px solid blue;
    transform: scale(1.1);
    border-radius: 5px;
    transition:  1s;
}

.footer-offer>a:hover{
    color: #101010;
    background-color: #f5f5f5;
    transition: 1s;
}


.footer-content a {
    color: #f5f5f5;
}

.footer-content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-content p{
    color: rgb(196, 196, 196);
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-items a:nth-child(2) {
    border: 2px solid #f5f5f5;
    padding: 1rem;

}


.client-content>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:1.5rem;
    text-align: center;
}

.client-content a{
    max-width: fit-content;
    padding: .8rem;
    border-radius: 5px;
    background-color:#101010;
    color: #f5f5f5;
    border:#101010 1px solid;
    transition: .5s;
}

.client-content a:hover{
    transition: .5s;
    color:#101010;
    background-color: #f5f5f5;
    transform: scale(1.1);
}







  @keyframes aniRight{
    0%{opacity: 0;}
    100%{opacity: 100;}
  }
  
  @keyframes aniLeft {
    0%{opacity: 0;}
    100%{opacity: 100;}
  }

@media screen and (min-width:576px){
    .container{
        max-width: 540px;
    }

}
@media screen and (min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media screen and (min-width:992px){
    .container{
        max-width: 960px;
    }
    .faq-content>div{
        
        min-width: 30%;
        max-width: 30%;
    }
}
@media screen and (min-width:1200px){
    .container{

        max-width: 1140px;
    }

 
}
@media screen and (min-width:1400px){
    .container{
        max-width: 1320px;
    }
}


@media screen and (max-width:992px){
  
    .partners-normal{
        display: none;
    }

    .partners-responsive{
        display: flex;
    }

    #close-burger{
        display: flex;
    }

    #burger{
        display: flex;
    }

    .nav ul{
        display: none;
    }

    .header-content .container{
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .header-left{
        align-items: center;
        padding-bottom: 1rem;
    }

    .header-right{
        width: 80%;
    }


    .process-details{
        flex-direction: column;

        gap: 2rem;

    }

    .process-details div{
        min-width: 95%;
        justify-content: center;
        align-items: center;
        gap:1rem;
        text-align: center;
    }

    .why-us{
        flex-direction: column-reverse;
        align-items: center;
    }

    .why-us div{
        align-items: center;
        text-align: center;
    }

    .slider{
        min-width: 50%;
    }

    .credit-nav{
        justify-content: center;
        flex-wrap: wrap;
        
    }

    .credit-content{
        flex-direction: column;
        align-items: center;
    }

    .credit-content>div{
        align-items: center;
        text-align: center;
        gap: 3rem;
    }



    .faq-content{
        display: flex;
        flex-direction: column;
        border: none;
    }


    .faq-content>div:nth-child(2){
        border-left: none;
        border-right: none;
    }

    .faq-content>div{
        padding: 2rem 0;
        border-left: 0px;
        border-bottom: #0F6A64 1px solid;
    }




    .service-grid p{
        padding: 1rem 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
    }


    .service-items>div:nth-child(3) a{
       grid-column-start: 1;
       grid-column-end: 4;
    }

    .service-items>div:nth-child(4){
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        
    }

    .client-content{
        flex-direction: column;
        gap: 3rem;
        justify-content: space-between;
        padding-bottom: 3rem;
        
    }

    .client-content a{
        min-width: 100%;
    }

    .client-content div{
        gap: 3rem;
    }

}


@media screen and (max-width:768px){
    .slider{
        min-width: 100%;
    }
}


@media screen and (max-width:576px){
    .nav h2{
        font-size: 20px !important; 
    }

    #burger{
        gap: .5rem;
    }
    #burger span{
        width: 2.5rem;
    }

    
    input{
        max-width: 50%;
    }

    #form span{
        position: relative;
        padding-left: 0.5rem;
    }
    #form span label{
        position: absolute;
       right: 0;
       padding-right: 0.5rem;
    }

    #footer-form{
        flex-direction: column;
    }

    h1{
        font-size: 45px;
    }
h2{
    font-size: 25px !important;
}

    .partners{
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        padding: 2rem 0;
    }

    .nav .container>a:nth-child(3){
        display: none;
    }


    .review-section .container>div:nth-child(1){
        padding-bottom: 2rem;
      
    }

    .review-slider{
        padding-top: 1.5rem;
    }
    .credit-left h2{
        font-size: 35px;
    }


    .service-items p{
      
        font-size: 12px;
    }

   
    .header-right{
        padding: .5rem;
    }
    .service-grid p{
        padding: 0;
        font-size: 12px;
 
        
    }
  
    .service-grid{
        padding: 0;
        max-width: 100%;
    }

    .footer-content div{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }
}