*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}
@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

body{
    font-family: 'Raleway', 'sans-serif';
    color:#353A5A;
    background-color: #F5F5F5;
}


h1{
    font-size: 40px;
}


a{
    text-decoration: none;
    color: #1740C7;
}


img{
    max-width: 100%;
    height: auto;
}
ul, li{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background-color: #fff;
    cursor: pointer;
}


.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

#burger{
    z-index: 1;
    display: none;
    flex-direction: column;
    gap: .8rem;
    color: black;
    cursor: pointer;
}

#burger span{

    height: .2rem;
    width: 3.5rem;
    background-color: black;
    
}


#nav-dropdown{
    position: absolute;
    display: none;
    background-color: #FDFDFD;
    min-width: max-content;
    padding: 2rem;
    z-index: 1;
    border-radius: 20px;
   
   
   

}
#nav-dropdown a{
    color: #353A5A;
}

#nav-dropdown a:hover{
    color: #FA9F42;
}

.dropdown-item{
    position: relative;
    display: flex;
    justify-content: center;
}
.dropdown-item:hover #nav-dropdown{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   top: 100%;
 
}

.header{
    background-color: #F5F5F5;
 
width: 100%;
display: flex;
position: fixed;
  z-index: 999;
  padding-top: 1rem;
}


#nav-responsive{
   
    position: absolute;
 top: 0;
 left: 0;
  background-color:#F5F5F5;
    height: 100vh;
    width: 100vw;
   display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
#nav-responsive a{
    color: #000;
}

.nav{
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.responsive-dropdown-items{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.responsive-dropdown-items:hover #nav-responsive-dropdown{
    display: flex;
    flex-direction: column;
   
    background-color: white;
    padding: 2rem;
    z-index: 1;
}
#nav-responsive-dropdown{
    top:100%;
    border-radius: 20px;
   position: absolute;
}

.nav ul{
  display: flex;
  gap: 1rem;
}
.nav li a{
    color: #353A5A;
    transition: .5s;
}
.nav li a:hover{
    color: #FA9F42;
    transition: .5s;
}


.nav a:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #FA9F42;
    color: #FDFDFD;
}


.function-section{
    padding-top: 9rem;
    padding-bottom: 5rem;

}

.function-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding-bottom: 3rem;
}
h1{
    max-width: 25ch;
}
.function-top p{
  
    font-size: 18px;
    max-width: 45ch;
}

.function-content{
    padding-top: 3rem;
 
}
.function-content-container{
    display: flex;
    gap: 3rem;
    padding-bottom: 3rem;
}
.function-content-container div{
    max-width: 30%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
   
}

.function-content a{
    font-weight: bold;
}




.function-content img{
    width: 1.5rem;
    height: 1.5rem;
}


.members-top{
    display: flex;
    justify-content: flex-end;
    gap:3rem;
    padding-bottom: 5rem;
}

.members-top p{
    max-width: 65ch;
}

.members-top img{
    width: 3rem;
    height: 50%;
}

.members-center h2{
    padding-bottom: 4.5rem;
}
.members-center-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.members-center-container{
    display: flex;
    gap:2rem;
}

.members-center-container div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.members-bottom {

    padding-top: 6rem;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.members-bottom::-webkit-scrollbar{
    display: none;
}

.members-bottom > div {
  flex: 0 0 auto;
  padding: 10px;
  text-align: center;
}


.members-bottom p{
    max-width: 25ch;
}



.comment-section{
    padding-top: 6rem;
   
}

.comment-section .container{
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#scroll-right{
    z-index: 1;
   right: 10%;
    cursor: pointer;
    margin-top: 5em;
    position: absolute;
}

.comment-section .container::-webkit-scrollbar{
    display: none;
}
.comment-content{
    display: flex;
    min-width: 35vw;
    gap:1rem;
    
}
.comment-content>img{
    width: 3rem;
    height: 3rem;
}

.comment-content p{
    max-width: 55ch;
}




.comment-section h2{
    padding-bottom: 4rem;
}



.footer{
    padding-top: 7rem;
    color: #353A5A;
}
.footer a{
    color: #353A5A;
}
.footer img{
    width: 1.5rem;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 0;
    
}

.footer-top div:nth-child(1){
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-width: 45ch;
}

.footer-top ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-top div:nth-child(5){
    max-width: 22ch;
}
.footer-top div div{
    display: flex;
    gap: 1.5rem;
}

.footer-bot{
    padding: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
}
.footer-bot div{
    display: flex;
    justify-content: space-between;
    gap:2rem;
}



@media screen and (min-width:576px){
    .container{
        max-width: 540px;
    }

}
@media screen and (min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media screen and (min-width:992px){
    .container{
        max-width: 992px;
    }
}
@media screen and (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}
@media screen and (min-width:1400px){
    .container{
        max-width: 1320px;
    }

    .function-top p{
        margin-right: 15%;
    }
}

@media screen and (min-width: 1600px){
    .container{
        max-width: 1500px;
    }
    .function-top p{
        margin-right: 20%;
    }
}

@media screen and (max-width: 1200px){

.nav ul{
    gap: .7rem;
}
.nav a{
    font-size: 13px;
    
}
}




@media screen and (max-width:992px){

    .function-top{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
    }


    #burger{
        display: flex;
    }

    .nav ul{
        display: none;
    }

    .members-top{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .members-center h2{
        text-align: center;
    }

    .members-center-container{
        flex-direction: column;
    }

    .footer-top{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    .footer-top div:nth-child(1){
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     .footer-top ul{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
     }
    
     .footer-top div:nth-child(5){
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
     }
        .footer-bot{
            gap:1.5rem;
        }
    .footer-bot, .footer-bot div{
        flex-direction: column;
        align-items: center;
    }
    

    
}


@media screen and (max-width:576px){
        .header-call{
            max-width: 7rem;
        }
        #burger {
            width: 2rem ;
        }
        .remote-img-top,
        .remote-img-bot{
            flex-direction: column;
            align-items: center;
        }
    

    .function-top{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;

    }

    .function-bot>a{
       display: flex;
       justify-content: center;
    }


    .function-content-container{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .function-content-container img{
        margin: 0 auto;
    }
.comment-section h2{
    text-align: center;
}
    .comment-content{
        min-width: 100%;
        flex-direction: column;
    }
}