*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}
@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

body{
    font-family: 'Raleway', 'sans-serif';
    color:#353A5A;
    background-color: #F5F5F5;
}


a{
    text-decoration: none;
    color: #1740C7;
}


img{
    max-width: 100%;
    height: auto;
}
ul, li{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background-color: #fff;
    cursor: pointer;
}


.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

#burger{
    z-index: 1;
    display: none;
    flex-direction: column;
    gap: .8rem;
    color: black;
    cursor: pointer;
}

#burger span{

    height: .2rem;
    width: 3.5rem;
    background-color: black;
    
}


#nav-dropdown{
    position: absolute;
    display: none;
    background-color: #FDFDFD;
    min-width: max-content;
    padding: 2rem;
    z-index: 1;
    border-radius: 20px;
   
   
   

}
#nav-dropdown a{
    color: #353A5A;
}

#nav-dropdown a:hover{
    color: #FA9F42;
}

.dropdown-item{
    position: relative;
    display: flex;
    justify-content: center;
}
.dropdown-item:hover #nav-dropdown{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   top: 100%;
 
}

.header{
    background-color: #F5F5F5;
 
width: 100%;
display: flex;
position: fixed;
  z-index: 999;
  padding-top: 1rem;
}


#nav-responsive{
   
    position: absolute;
 top: 0;
 left: 0;
  background-color:#F5F5F5;
    height: 100vh;
    width: 100vw;
   display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
#nav-responsive a{
    color: #000;
}

.nav{
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.responsive-dropdown-items{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.responsive-dropdown-items:hover #nav-responsive-dropdown{
    display: flex;
    flex-direction: column;
   
    background-color: white;
    padding: 2rem;
    z-index: 1;
}
#nav-responsive-dropdown{
    top:100%;
    border-radius: 20px;
   position: absolute;
}

.nav ul{
  display: flex;
  gap: 1rem;
}
.nav li a{
    color: #353A5A;
    transition: .5s;
}
.nav li a:hover{
    color: #FA9F42;
    transition: .5s;
}


.nav a:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #FA9F42;
    color: #FDFDFD;
}


.bachelor-section{
    padding-top: 12rem;
}
.bachelor-content{
    justify-content: space-between;
    gap: 5rem;
    display: flex;
}

.bachelor-content-left ul li{
    border-bottom: #F5F5F5 2px solid;
    width: 13rem;
    
}

.bachelor-content-left ul li:hover{
   border-bottom: #1740C7 2px solid;
   transition: 1s;
}

.bachelor-content-left ul a:hover{
    color: #1740C7;
    transition: 1s;
}

.bachelor-content-left ul a{
    transition: .5s;
    display: block;
    padding: 1rem 1rem;
    color: #353A5A;
}

.bachelor-flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    gap: 1.5rem;
}
.bachelor-flex div{
    position: relative;
    width: 50%;
    padding: 0 1rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border: #353A5A 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.bachelor-flex div p:nth-child(1){
    margin-left: 50%;
    color: #F5F5F5;
    background-color: #1740C7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 8rem;
   
}

.bachelor-flex div p:nth-child(4){
    padding: 2rem 0;
    color: #353A5A;
}

.bachelor-flex div a{
    padding-bottom: 1.5rem;
    color: #353A5A;
  display: inline-block;
}
.bachelor-flex div p:nth-child(2){
    padding: 2rem 0;
    font-weight: bold;
   color: #1740C7;
}



.bachelor-flex img{
    position: absolute;
    width: 25%;
    bottom:0;
    right: 0;
}
.bachelor-content-right button{
    margin-top: 2rem;
    background-color: #1740C7;
    color: #FDFDFD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 10rem;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    text-decoration: none;
    border: none;
}

.footer{
    padding-top: 7rem;
    color: #353A5A;
}
.footer a{
    color: #353A5A;
}
.footer img{
    width: 1.5rem;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 0;
    
}

.footer-top div:nth-child(1){
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-width: 45ch;
}

.footer-top ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-top div:nth-child(5){
    max-width: 22ch;
}
.footer-top div div{
    display: flex;
    gap: 1.5rem;
}

.footer-bot{
    padding: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
}
.footer-bot div{
    display: flex;
    justify-content: space-between;
    gap:2rem;
}


@media screen and (min-width:576px){
    .container{
        max-width: 540px;
    }

}
@media screen and (min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media screen and (min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media screen and (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}
@media screen and (min-width:1400px){
    .container{
        max-width: 1320px;
    }

    .bachelor-flex div p:nth-child(4){
       
        max-width: 40ch;
    }

    .bachelor-flex>div p:nth-child(1){
        margin-left: 65%;
    }
}



@media screen and (min-width: 1600px){
    .container{
        max-width: 1500px;
    }


}

@media screen and (max-width: 1200px){
.nav ul{
    gap: .7rem;
}
.nav a{
    font-size: 13px;
}
}

@media screen and  (max-width: 992px){
   
  
#burger{
    display: flex;
}
    h1{
        text-align: center;
        padding-bottom: 2rem;
    }
    .bachelor-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .bachelor-flex p{
        z-index: 1;
    }

   

    .bachelor-flex div p:nth-child(1){
        margin: 0 auto;
    }
.bachelor-flex div p:nth-child(2){
    padding: 2rem 0;
}
.bachelor-flex div p:nth-child(4){
    padding: 2rem 0;
}
    .bachelor-content-left ul{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
       
    }
    .bachelor-content-left ul li:hover{
       border: none;
       border: #353A5A 1px solid;
        transition: .5s;
    }
    .bachelor-content-left ul li{
        padding: 0.5rem;
        border: none;
        border: #353A5A 1px solid;
        width: max-content;
        transition: .5s;
        
    }
    .bachelor-content-left ul li a{
        padding: 0;
       
    }
    .bachelor-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bachelor-flex div{

        width: 90%;
    }

    #bachelor-button{
        margin: 0 auto;
    }
 .footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.footer-top div:nth-child(1){
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .footer-top ul{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
 }

 .footer-top div:nth-child(5){
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
 }
    .footer-bot{
        gap:1.5rem;
    }
.footer-bot, .footer-bot div{
    flex-direction: column;
    align-items: center;
}

.nav ul{
    display: none;
}

}
